h1 {
    text-align: center;
    padding-left: 150px;
}

body {
    background-color: #0DF;
    background-image: url("https://media.giphy.com/media/13faydI3HDMLcc/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 290px;
    background-position-x: -100px
}

#img2 {


}